body {

}

.box() {
	margin:5px;
	padding:5px;
	border-radius:5px;
	display:inline-block;
	text-align:center;
	font-weight:bold;
	vertical-align:top;
}


#game-canvas {
	background:#FACC9D;
	border-radius:20px;
	display:inline-block;
	
	.row {
		
			.cell {
			
				width:50px;
				height:50px;
				background:#FAFAF7;

				.val {
					background-color:FAF6D9;
					.box;
				}
				
				.box
			
			}
		
		
	}
	
	.box
}

